###
### Pantheon site .gitignore section
###

._*
.DS_Store*
.env
.idea
.metadata
.php_cs
.php_cs.cache
.project
.sass-cache
.settings
.vscode/*
!.vscode/launch.json
*.7z
*.bz2
*.dmg
*.gz
*.iso
*.jar
*.log
*.rar
*.sql
*.tar
*.tgz
*.un~
*.zip
atlassian*
ehthumbs.db
Thumbs.db
TODO.md
web/sites/default/files
web/sites/simpletest
web/sites/*/settings.local.php
web/sites/*/services*.yml
!web/sites/*/services.pantheon.*.yml
!web/sites/*/services.yml
