.exo-form-element-type-exo-autocomplete,
.exo-form-element-type-autocomplete-deluxe {

  .exo-form-pseudo {
    height: auto;
    width: 100%;
    margin-bottom: 1px;

    input {
      height: inherit !important;
      width: inherit !important;
      padding: inherit !important;
      border: none !important;
    }
  }

  .exo-autocomplete-container,
  .autocomplete-deluxe-container {
    @include flex;
    @include flex-align(left, middle);
    flex-wrap: wrap;
    flex: 1 1 auto;
    background: none;
    border: 0;
    margin: 0;
    padding: 0;
    line-height: 1;
    width: auto;

    .exo-autocomplete-form,
    .autocomplete-deluxe-form {
      background: inherit;
      color: inherit;
      font-size: inherit;
      padding: 0;
    }
  }

  .exo-autocomplete-item,
  .autocomplete-deluxe-item {
    margin: rem-calc(5);
    margin-left: 0;
    white-space: nowrap;
  }

  .exo-autocomplete-throbber,
  .autocomplete-deluxe-throbber {
    flex: 0 0 auto;
    height: 15px;
    width: 15px;
    background-position: 100% 0px;

    &.exo-autocomplete-open,
    &.autocomplete-deluxe-open {
      background-position: 100% -20px;
    }
  }

  .exo-autocomplete-form,
  .autocomplete-deluxe-form {
    flex: 1 1 auto;
  }

  .exo-autocomplete-value-container,
  .autocomplete-deluxe-value-container {
    visibility: hidden;
    flex: 0 0 0%;
  }
}
