.exo-form-element-type-password-confirm {

  .password-confirm,
  .password-field,
  .password-strength,
  .password-confirm-match {
    width: auto;
  }

  .password-parent {
    max-width: 100%;
  }

  .password-strength {
    position: relative;

    .password-strength__meter {
      margin: 0;
    }

    .password-strength__title {
      position: absolute;
      top: 0;
      left: 0;
      font-size: rem-calc(11);
      text-transform: uppercase;

      .password-strength__text {
        font-weight: 700;
      }
    }
  }
}
