.exo-alchemist-overlay .exo-alchemist-breadcrumbs {
  @include flex-align(left, middle);
  display: none;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background: color(theme-black);
  margin: 0;
  padding: 0 rem-calc(5);
  box-shadow: 0 0 25px alpha(color(theme-black), 0.8);

  li {
    list-style: none;
    padding: rem-calc(5);

    &:last-child {

      a {

        &:after {
          display: none;
        }
      }
    }
  }

  a {
    color: color(theme-white);
    font-size: rem-calc(12);
    // text-transform: uppercase;
  }

  .exo-alchemist-breadcrumb-label {
    color: color(theme-white);
    font-size: rem-calc(10);
    font-weight: 300;
    opacity: 0.5;
    text-transform: uppercase;
  }

  .exo-alchemist-breadcrumb-field {

    a {
      @include exo-icon(regular, f105, after) {
        padding-left: rem-calc(10);
        color: color(theme-white);
        pointer-events: none;
      }
    }
  }
}

.exo-overlay-op-field .exo-alchemist-breadcrumbs {
  @include flex;
}
