$ops-size: rem-calc(40);
$ops-color: color(theme-white);

$component-ops-size: rem-calc(40);

$field-ops-arrow-size: rem-calc(6);
$field-ops-bg: color(theme-black);

.exo-alchemist-component-edit {
  @include clearfix;
  position: relative;
  // padding: 0 !important;
  cursor: default !important;
  user-select: none;
  outline-offset: 0;
  transition: box-shadow $global-speed, outline-offset $global-speed;

  &.focus {
    outline: 1px dashed alpha(color(theme-black), 0.3);
    outline-offset: 4px;
    box-shadow: 0 0 25px alpha(color(theme-black), 0.2);
    z-index: 10;
  }
}

.exo-alchemist-component-placeholder {
  border: 2px solid color(theme-gray);
  background: color(theme-black);
  color: color(theme-white);
  padding: $global-padding;
}

.exo-alchemist-component-title {
  text-transform: uppercase;
  font-weight: 700;
  font-size: rem-calc(12);
}

.exo-alchemist-component-description {
  opacity: 0.7;
  font-size: rem-calc(11);
  display: block;
  margin: rem-calc(2 0);

  .exo-icon {
    color: color(theme-warning);
  }
}

.exo-alchemist-mask {
  position: absolute;
  z-index: 99;
  background: alpha(color(theme-black), 0.8);
  transition: all $global-speed;
  visibility: hidden;
  opacity: 0;
  pointer-events: none;

  &.restrict {
    pointer-events: auto;
  }
}

.exo-alchemist-overlay {
  position: absolute;
  z-index: 100;
  transition: all $global-speed;
  outline: 1px dashed color(theme-warning);
  outline-offset: 4px;
  visibility: hidden;
  opacity: 0;
  box-shadow: 0 0 25px alpha(color(theme-black), 0.8);
  // border: 1px solid color(theme-warning);
}

// Component Ops

.exo-alchemist-component-panel {
  position: absolute;
  top: -$component-ops-size;
  left: 0;
  z-index: 105;
  width: $component-ops-size;
  height: $component-ops-size;
  border-radius: 50% 0 0 50%;
  background: color(theme-black);
  visibility: hidden;
  opacity: 0;
  transition: opacity $global-speed;
  border-right: 0;
  box-sizing: content-box;

  &.animate {
    transition: all $global-speed;
  }

  > a {
    display: block;
    width: $component-ops-size;
  }
}

.exo-alchemist-component-panel-toggle {
  @include exo-icon(regular, f013);
}

.exo-alchemist-component-ops {
  position: absolute;
  top: 0;
  right: 0;
  background: $field-ops-bg;
  height: $ops-size;
  border-radius: $ops-size / 2 0 0 $ops-size / 2;
  white-space: nowrap;
  padding: 0 $ops-size / 4;
  transform-origin: top right;
  transition: opacity $global-speed, transform $global-speed;
  opacity: 0;
  transform: scaleX(0);

  .focus & {
    opacity: 1;
    transform: scaleX(1);
    transition: transform $global-speed;
    // transition-delay: $global-speed;
    // border-radius: 0;
  }
}

// Field Ops
.exo-component-field-edit {
  cursor: pointer;
  outline: 1px dashed alpha(color(theme-black), 0);
  outline-offset: 4px;
  transition: outline $global-speed;
  pointer-events: auto !important;

  &:hover {

    .focus & {
      outline: 1px dashed alpha(color(theme-black), 0.5);
    }
  }
}

.exo-alchemist-field-ops {
  position: absolute;
  top: -($ops-size + ($field-ops-arrow-size / 2));
  left: 0;
  background: $field-ops-bg;
  height: $ops-size;
  border-radius: $ops-size / 2;
  white-space: nowrap;
  padding: 0 $ops-size / 4;
  transform-origin: bottom left;
  transition: opacity $global-speed, transform $global-speed;
  opacity: 0;
  transform: scale(0.1);

  .exo-overlay-op-field & {
    opacity: 1;
    transform: scale(1);
    transition-delay: $global-speed;

    &.hide {
      opacity: 0;
      transform: scale(0.1);
    }
  }

  &:before {
    @include exo-triangle(bottom, $field-ops-arrow-size, $field-ops-arrow-size, $field-ops-bg);
    position: absolute;
    top: 100%;
    left: $ops-size / 2;
  }
}

a.exo-alchemist-op {
  display: inline-block;
  height: $ops-size;
  line-height: $ops-size;
  min-width: rem-calc(30);
  overflow: hidden;
  color: $ops-color;
  text-align: center;
  opacity: 0.7;
  transition: min-width $global-speed, opacity $global-speed, color $global-speed;
  font-size: rem-calc(11);
  text-transform: uppercase;
  vertical-align: middle;

  > span {
    padding-left: rem-calc(2);
    padding-right: rem-calc(10);
  }

  &:last-child {

    > span {
      padding-right: 0;
    }
  }

  &,
  &:focus,
  &:active,
  &:hover {
    color: $ops-color;
  }

  &:hover {
    opacity: 1;
  }

  &:before {
    display: inline-block;
    height: $ops-size;
    line-height: $ops-size;
    width: rem-calc(20);
    box-sizing: content-box;
    text-align: center;
    font-size: rem-calc(16);
  }

  &.hide {
    // transform: scaleX(0);
    min-width: rem-calc(0);
    width: 0;
    opacity: 0;
  }
}

.exo-alchemist-component-op-up {
  @include exo-icon(regular, f176);
}

.exo-alchemist-component-op-down {
  @include exo-icon(regular, f175);
}

.exo-alchemist-component-op-appearance {
  @include exo-icon(regular, f618);
}

.exo-alchemist-component-op-restore {
  @include exo-icon(regular, f2ea);
}

.exo-alchemist-component-op-remove {
  @include exo-icon(regular, f1f8);
}

.exo-alchemist-field-op-update {
  @include exo-icon(regular, f044);
}

.exo-alchemist-field-op-delete {
  @include exo-icon(regular, f1f8);
}

.exo-alchemist-field-op-clone {
  @include exo-icon(regular, f24d);
}

.exo-alchemist-field-op-prev {
  @include exo-icon(regular, f177);
}

.exo-alchemist-field-op-next {
  @include exo-icon(regular, f178);
}
